<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.graduation_project">

   <uses-permission android:name="android.permission.RECORD_AUDIO" />
   <uses-permission android:name="android.permission.INTERNET" />
   

    <application
        android:name="${applicationName}"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
     <meta-data
        android:name="com.google.android.gms.signin.client_id"
        android:value="818362916537-acisto2jfh9tcsob26fa7mrlur0081eb.apps.googleusercontent.com"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Deep Link Intent Filter -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="medbridge.page.link"
                    android:pathPrefix="/reset-password"/>
            </intent-filter>
        </activity>

        <!-- Firebase Dynamic Links -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
            
    </application>
</manifest>